:root {
	--blue: #022569;
	--red: #DA291C;
	--yellow: #FFCD00;
	--white: #ddeeff;
	--black: #161616;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Tahoma, sans-serif;
	background-color: var(--blue);
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5rem;
	justify-content: space-between;
	min-height: 100vh;
}

main {
	flex: 1;
}

#loading {
	animation: spin 3s linear infinite;
	display: inline-block;
	width: 60px;;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to   { transform: rotate(360deg); }
}

.--header, .--footer {
	width: 100vw;
	padding-inline: .5rem;
	display: flex;
	justify-content: space-between;
}

.--header {
	background-color: var(--black);
}

.--header__menu {
	display: flex;
	gap: .5rem;
	margin-block: .2rem;
}

.--header__dropdown {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100px;
}

.--apps-menu__link--container {
	border-radius: .5rem;
	height: 100%;
	overflow: hidden;
}

.--apps-menu__link,
.--apps-menu__link--container {
	background-color: var(--red);
	padding: .1rem .2rem;
	position: absolute;
	top: 0;
	width: 100%;
	transition: top .2s linear, height .2s linear;
	color: var(--yellow);
	font-size: .8rem;
	font-weight: 700;
}

.--footer {
	background-color: var(--yellow);
	color: var(--black);
	font-size: .7rem;
}

.await * {
	display: none !important;
}